<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta name="viewport" content="width=device-width,initial-scale=1.0">-->
      <meta
              name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
      />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>ByteBase</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
        <!-- 开启顶部安全区适配 -->
        <van-nav-bar safe-area-inset-top />

        <!-- 开启底部安全区适配 -->
        <van-number-keyboard safe-area-inset-bottom />
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
