<template>
  <div class="home">
    <headNav></headNav>
  </div>
</template>

<script>
let headNav = () => import('@/components/headNav');
export default {
  name: "home",
  components: {
    headNav
  }
}
</script>

<style scoped>

</style>
