<template>
  <div class="headNav">
    <van-nav-bar title="">
      <template #left>
        <van-image
            width="100"
            height="100"
            src="https://img01.yzcdn.cn/vant/cat.jpeg"
        />
      </template>
      <template #right>
        <i class="iconfont icon-dingbudaohang-zhangh" />
        <van-icon name="wap-nav" />
      </template>
    </van-nav-bar>
  </div>
</template>

<script>
export default {
  name: 'headNav',
}
</script>

<style scoped>
.headNav {
  padding: 20px 0;
}
</style>
