@font-face {
  font-family: "iconfont"; /* Project id 2862966 */
  src: url('iconfont.woff2?t=1634116327070') format('woff2'),
       url('iconfont.woff?t=1634116327070') format('woff'),
       url('iconfont.ttf?t=1634116327070') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiugaimima:before {
  content: "\e600";
}

.icon-mobanguanli:before {
  content: "\e615";
}

.icon-copy:before {
  content: "\e667";
}

.icon-shenfenzheng:before {
  content: "\e638";
}

.icon-iconfontfangdajing:before {
  content: "\e60d";
}

.icon-shouji_o:before {
  content: "\eb4d";
}

.icon-remind:before {
  content: "\e6a5";
}

.icon-dingbudaohang-zhangh:before {
  content: "\e713";
}

.icon-weixin:before {
  content: "\e68a";
}

